.btn {
	color: var(--white);
	font-size: 1rem;
	background-color: var(--black);
	padding: 1rem;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	cursor: pointer;

	&:hover {
		background-color: var(--primary-color);
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
	}

	@media (max-width: 680px) {
		font-size: 14px;
		padding: 0.8rem;
	}
}
